Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Config/DefaultEditor.ini
Config/DefaultEngine.ini
Config/DefaultGame.ini
Config/DefaultInput.ini
README.md
